.header-navigation {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg,#000 0,transparent);
}
.header-navigation a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}
.header-navigation .to-the-right {
    margin-left: auto;
    display: flex;
}
.header-navigation a:hover {
    background-color: #ddd;
    color: black;
}
.header-navigation a.active {
    background-color: #00a7e1;
    color: white;
}