{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block js_top %}
        {% endblock %}
        <header>
            <div class="header-navigation">
                <a class="{{ main_active }}" href="{% url 'app_main:main' %}">Home</a>
                <a class="{{ survey_active }}" href="{% url 'app_main:survey' %}">Survey</a>
                <div class="to-the-right">
                    <a href="{% url 'app_accounts:logout' %}">Logout</a>
                    <a class="{{ login_active }}" href="{% url 'app_accounts:login' %}">Login</a>
                    <a class="{{ register_active }}" href="{% url 'app_accounts:register' %}">Register</a>
                </div>
            </div>
        </header>
        {% block body %}
        {% endblock %}
        {% block js_bottom %}
        {% endblock %}
    </body>
</html>