{% extends 'base.html' %}
{% block title %}Demo main page{% endblock %}
{% block css %}
    <style>
        div {
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div>
        <p>Hello {{ username }}</p>
        <a href="{% url 'app_accounts:logout' %}">Logout</a>
    </div>
    <div>
        <p>Don't have an account? Please, register</p>
        <a href="{% url 'app_accounts:register' %}">Register</a>
        <p>Already have an account? Please, login</p>
        <a href="{% url 'app_accounts:login' %}">Login</a>
    </div>
{% endblock %}