{% extends 'base.html' %}
{% load static %}
{% block title %}Demo main page{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_main/main.css' %}">
{% endblock %}
{% block body %}
    <div>
        <h2>Hello {{ username }}</h2>
        {% if not username %}
        <h3>to take a survey, please register</h3>
        {% else %}
        <h3>Hooray, you can take a <a href="{% url 'app_main:survey' %}">survey</a>!</h3>
        {% endif %}
    </div>
{% endblock %}