{% extends 'base.html' %}
{% load static %}
{% block title %}Demo survey page{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_main/survey.css' %}">
{% endblock %}
{% block body %}
    <div>
        <form method="post" action="{% url 'app_main:survey' %}">
            {% csrf_token %}
            <div class="questions">
                <label for="company">What is your favorite cruise company?</label>
                <select name="company" id="company" required>
                    <option value="">------</option>
                    <option value="storylines">Storylines</option>
                </select>
            </div>
            <div class="questions">
                <label class="questions-justification" for="justification">Why?</label>
                <textarea rows="4" cols="50" name="justification" id="justification" placeholder="Please, write your answer here" required></textarea>
            </div>
            <br>
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}